.navbar {
    background-color: #F1EFEF; /* Dark transparent background */
    padding: 10px 20px;
    text-align: center;
    backdrop-filter: blur(10px);
  }
  
  .nav-list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .nav-item {
    margin: 0 15px;
  }
  
  .nav-link {
    color: #272829;
    text-decoration: none;
    font-size: 18px;
    position: relative;
    transition: color 0.3s;
  }
  
  .nav-link:hover {
    color: #4b9cd3; /* Change color on hover */
  }
  
  .nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: #4b9cd3;
    transition: width 0.3s ease;
    -webkit-transition: width 0.3s ease;
    -moz-transition: width 0.3s ease;
    -o-transition: width 0.3s ease;
  }
  
  .nav-link:hover::after {
    width: 100%;
    left: 0;
    background-color: #4b9cd3;
  }
  